<footer class="footer">
  <div class="footer__content content-container">
    <a class="footer__link" href="https://twitter.com/cameralibre">
      <svg viewBox="0 0 1024 768" fill="currentColor" aria-hidden="true">
        <path
          d="M768.6 253c.4 5.7.4 11.5.4 17.2 0 174.7-133 376-376 376-74.9 0-144.4-21.7-202.9-59.3 10.6 1.2 20.9 1.6 31.9 1.6 61.8 0 118.7-20.9 164.1-56.5-58.1-1.2-106.8-39.3-123.6-91.7 8.2 1.2 16.4 2 25 2 11.9 0 23.7-1.6 34.8-4.5-60.6-12.3-106-65.5-106-129.7v-1.6c17.6 9.8 38.1 16 59.7 16.8-35.6-23.7-58.9-64.2-58.9-110.1 0-24.5 6.5-47.1 18-66.7 65.1 80.2 162.8 132.6 272.5 138.3-2-9.8-3.3-20-3.3-30.3 0-72.8 58.9-132.2 132.2-132.2 38.1 0 72.4 16 96.6 41.7 29.9-5.7 58.5-16.8 83.9-31.9-9.8 30.7-30.7 56.5-58.1 72.8 26.6-2.9 52.4-10.2 76.1-20.5C816.9 210.9 794.4 234.2 768.6 253L768.6 253z"
        />
      </svg>

      <span class="visually-hidden">Camera Libre on Twitter</span>
    </a>
  </div>
</footer>
