<header class="header">
  <div class="header__content content-container">
    <a class="header__logo-link" href="./index.html">
      <img alt="" src="./images/cameralibre316x96.png" />
      <span class="visually-hidden">Home. Camera Libre</span>
    </a>
    <nav class="header__nav--desktop">
      <ul class="header__nav-list header__nav-list--desktop">
        <li>
          <a class="header__nav-link" href="index.html">HOME</a>
        </li>
        <li>
          <a class="header__nav-link" href=".blog.html">BLOG</a>
        </li>
        <li>
          <a class="header__nav-link" href=".resources.html">RESOURCES</a>
        </li>
        <li>
          <a class="header__nav-link" href=".software.html">SOFTWARE</a>
        </li>
        <li>
          <a
            class="header__nav-link"
            href="https://www.animate-activate.studio"
          >
            ANIMATE/ACTIVATE
          </a>
        </li>
        <li>
          <a
            class="header__nav-link"
            href="https://gitlab.com/u/cameralibre/projects"
          >
            GITLAB
          </a>
        </li>
      </ul>
    </nav>
    <nav class="header__nav--mobile">
      <button class="header__nav-toggle">
        <svg
          height="2rem"
          viewBox="0 0 32 32"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          aria-hidden="true"
        >
          <path d="M5,9 h22 M5,16 h22 M5,23 h22" />
        </svg>
        <span class="visually-hidden">Open navigation menu</span>
      </button>
      <ul class="header__nav-list header__nav-list--mobile">
        <li>
          <a class="header__nav-link" href="./blog.html">BLOG</a>
        </li>
        <li>
          <a class="header__nav-link" href="./resources.html">RESOURCES</a>
        </li>
        <li>
          <a class="header__nav-link" href="./software.html">SOFTWARE</a>
        </li>
        <li>
          <a class="header__nav-link" href="https://www.animate-activate.studio"
            >ANIMATE/ACTIVATE</a
          >
        </li>
        <li>
          <a
            class="header__nav-link"
            href="https://gitlab.com/u/cameralibre/projects"
            >GITLAB</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
