<nav class="sidebar">
  <h2 class="sidebar__heading">Archives</h4>
  <ul>
    <li>
      <a href="./2019/07/"> July 2019 </a>
    </li>
    <li>
      <a href="./2016/11/"> November 2016 </a>
    </li>
    <li>
      <a href="./2016/10/"> October 2016 </a>
    </li>
    <li>
      <a href="./2016/09/"> September 2016 </a>
    </li>
    <li>
      <a href="./2016/07/"> July 2016 </a>
    </li>
    <li>
      <a href="./2016/06/"> June 2016 </a>
    </li>
    <li>
      <a href="./2016/04/"> April 2016 </a>
    </li>
    <li>
      <a href="./2015/12/"> December 2015 </a>
    </li>
    <li>
      <a href="./2015/10/"> October 2015 </a>
    </li>
    <li>
      <a href="./2015/02/"> February 2015 </a>
    </li>
    <li>
      <a href="./2015/01/"> January 2015 </a>
    </li>
    <li>
      <a href="./2014/12/"> December 2014 </a>
    </li>
    <li>
      <a href="./2014/09/"> September 2014 </a>
    </li>
    <li>
      <a href="./2014/08/"> August 2014 </a>
    </li>
    <li>
      <a href="./2014/07/"> July 2014 </a>
    </li>
    <li>
      <a href="./2014/06/"> June 2014 </a>
    </li>
    <li>
      <a href="./2014/03/"> March 2014 </a>
    </li>
    <li>
      <a href="./2014/01/"> January 2014 </a>
    </li>
    <li>
      <a href="./2013/12/"> December 2013 </a>
    </li>
    <li>
      <a href="./2013/10/"> October 2013 </a>
    </li>
    <li>
      <a href="./2013/09/"> September 2013 </a>
    </li>
    <li>
      <a href="./2013/07/"> July 2013 </a>
    </li>
    <li>
      <a href="./2013/04/"> April 2013 </a>
    </li>
    <li>
      <a href="./2013/03/"> March 2013 </a>
    </li>
  </ul>

  <h4 class="sidebar__heading">Categories</h4>
  <ul>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/animation/"> Animation </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/blog/"> Blog </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/civic-tech/"> Civic Tech </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/collaboration/">
        Collaboration
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/digital-culture/">
        Digital Culture
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/open-data/"> Open Data </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/open-source-hardware/">
        Open Source Hardware
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/public-domain/">
        Public Domain
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/sustainability/">
        Sustainability
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/uncategorized/">
        Uncategorized
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="./category/video/"> Video </a>
    </li>
  </ul>
</nav>
