/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-block-size: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  object-fit: contain;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* FONTS */
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/lato.light.FontimizeSubset.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/lato.light-italic.FontimizeSubset.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/lato.regular.FontimizeSubset.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/lato.italic.FontimizeSubset.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/lato.bold.FontimizeSubset.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/lato.bold-italic.FontimizeSubset.woff2") format("woff2");
}

/* GLOBAL SETTINGS */
:root {
  --color-grey-20: #333;
  --color-grey-25: #3d464c;
  --color-grey-30: #4f4f4f;
  --color-grey-40: #666666;
  --color-grey-90: #e2e2e2;
  --color-grey-95: #eff4f5;
  --color-blue-75: #abc5cc;
  --color-blue-50: #608e9a;
  --color-blue-45: #3e717e;
  --color-green-50: #12e892;
  --color-green-35: #149d67;
  --page-gutter: 1rem;
  --page-top-padding: 3.625rem;
  --shadow-color: 194deg 10% 58%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --h1-size: 1.625rem;
  --footer-padding-height: 1.125rem;
  --footer-content-height: 2rem;
  --footer-height: calc(
    var(--footer-padding-height) * 2 + var(--footer-content-height)
  );
  --gap-large: 2rem;
  --gap-paragraph: 1lh;
  --grid-column-gap: var(--gap-paragraph);
}

*:focus-visible {
  outline: 2px var(--color-green-35) solid;
  outline-offset: 4px;
  border-radius: 2px;
}
header *:focus-visible {
  outline: 2px var(--color-green-50) solid;
}

.content-container {
  margin: auto;
  width: calc(100% - 2 * var(--page-gutter));
  max-width: 1080px;
}

.visually-hidden {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: var(--color-grey-30);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey-20);
  font-weight: 700;
}
h1 {
  font-size: var(--h1-size);
  margin-block-end: 1rem;
}
.software__info {
  font-size: 1.125rem;
  color: var(--color-grey-40);
}
.page {
  display: grid;
}
main {
  padding-block: var(--page-top-padding);
  margin-block-end: var(--footer-height);
}
a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  color: var(--color-blue-45);
  &:hover {
    text-decoration-thickness: 2px;
  }
}
/* p {
  margin-block-end: 1em;
} */
strong {
  font-weight: bolder;
}
li {
  hyphens: auto;
  overflow-wrap: anywhere;
}
abbr {
  font-size: 0.8em;
  padding-inline: 0.2em;
  font-weight: bolder;
}

.video-container {
  aspect-ratio: 16 / 9;
}
figure {
  background-color: var(--color-grey-95);
  padding: 0.5rem;
  border-radius: 2px;
  box-shadow: var(--shadow-elevation-low);
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  text-align: center;
  font-size: 0.875rem;
  padding-block-start: 0.5rem;
}

.gallery {
  display: grid;
}
.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.slider {
  display: flex;
  list-style: none;
  max-height: min(90vh, 600px);
  margin: 0.5em -0.2em;
  padding: 0;
}
.a11y-slider-container {
  position: relative;
}

.a11y-slider,
.slider {
  position: relative;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider > * {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}
.slider img {
  height: 100%;
  object-fit: contain;
}

.a11y-slider-sr-only,
.a11y-slider-status {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}
.a11y-slider-prev,
.a11y-slider-next {
  background-color: transparent;
  border: 1px solid var(--color-grey-20);
  padding-block: 0.2em;
  padding-inline: 0.5em;
  border-radius: 0.2em;
  transition: background-color 200ms ease;
  cursor: pointer;
}
.a11y-slider-prev {
  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' height='1em' width='1em' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cpath d='m12 5 -6 6 6 6' /%3E%3C/svg%3E");
  }
}
.a11y-slider-next {
  position: absolute;
  right: 0;
  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' height='1em' width='1em' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cpath d='m6 5 6 6-6 6' /%3E%3C/svg%3E");
  }
}
:is(.a11y-slider-prev, .a11y-slider-next):hover {
  background-color: var(--color-green-50);
}
.a11y-slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.a11y-slider-dots li {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 6px;
  color: #fff;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  color: var(--color-grey-20);
  border: 1px solid var(--color-grey-20);
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.a11y-slider-dots li button.active,
.a11y-slider-dots li button:focus,
.a11y-slider-dots li button:hover {
  background: currentColor;
}

@media (min-width: 768px) {
  :root {
    --gap-large: 2rem;
    --page-gutter: 2rem;
    --grid-column-gap: 1.75rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --gap-large: 3.75rem;
    --grid-column-gap: 3.75rem;
  }
}
/* HEADER  */
.header {
  --logo-block-size: 3rem;
  --header-padding: 1.125rem;
  /* font-family: "Lato", Arial, Helvetica, sans-serif; */
  background-color: var(--color-grey-25);
  color: var(--color-blue-75);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block: var(--header-padding);
}

.header__logo-link {
  flex-shrink: 0;
}
.header__logo-link img {
  block-size: var(--logo-block-size);
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 1.375rem;
  row-gap: 0.5rem;
  list-style: none;
  padding: 0;
}
.header__nav-link {
  color: var(--color-blue-75);
  text-decoration: none;
  font-weight: 400;
}
.header__nav-link--external {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  gap: 0.25em;
  align-items: center;
}
.header__nav-link-icon {
  width: 1em;
  height: 1em;
}

.header__nav-toggle {
  color: inherit;
  background-color: unset;
  border: unset;
  padding: 0.5rem;
  margin-inline-end: -0.5rem;
  cursor: pointer;
}
.header__nav-link:hover,
.header__nav-toggle:hover {
  color: var(--color-green-50);
}

/* display of mobile links will be toggled on with the hamburger button */
.header__nav-list--mobile {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  inset-block-start: calc(var(--header-padding) * 2 + var(--logo-block-size));
  inset-inline-start: 0;
  inline-size: 100%;
  border-block-start: 2px solid var(--color-green-50);
  background-color: var(--color-grey-25);
  padding-block: 1.375rem;
  padding-inline: var(--page-gutter);
}
.mobile-open .header__nav-list--mobile {
  display: flex;
}
.header__nav--desktop {
  display: none;
}
.header__nav--mobile {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .header__nav--desktop {
    display: block;
  }
  .header__nav--mobile {
    display: none;
  }
}
@media (scripting: none) {
  .header__nav-toggle {
    display: none;
  }
  .header__nav-list--mobile {
    display: flex;
  }
}
/* SIDEBAR */
.sidebar {
  display: none;
}
@media (min-width: 1024px) {
  .page--sidebar {
    grid-template-columns: minmax(10px, 1fr) auto;
    column-gap: 3.75rem;
  }
  .sidebar {
    display: block;
    block-size: 100%;
    /* adjustment of padding to align with h1 baseline */
    padding-block-start: calc(var(--page-top-padding) + 1.625rem - 1em);
    max-inline-size: 15rem;
    border-inline-start: 1px var(--color-grey-90) solid;
    padding-inline-start: 1.875rem;
  }
}
.sidebar__heading {
  font-size: 1.125rem;
  font-weight: 400;
  margin-block-end: 0.625rem;
}
.sidebar__list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  margin-block-end: 1.875rem;
}
.sidebar__link {
  color: var(--color-grey-40);
  text-decoration: none;
}
.sidebar__link:hover {
  color: var(--color-green-35);
}

/* FOOTER */
.footer {
  position: absolute;
  inset-block-end: 0;
  inline-size: 100%;
  background-color: var(--color-green-35);
  padding-block: var(--footer-padding-height);
}
.footer__content {
  display: flex;
  justify-content: center;
  gap: var(--gap-large);
}
.footer__link {
  display: flex;
  font-weight: bold;
  gap: 0.5em;
  align-items: center;
  color: var(--color-grey-90);
  text-decoration: none;
}
.footer__link svg {
  inline-size: var(--footer-content-height);
  block-size: var(--footer-content-height);
}
.footer__link:hover {
  color: var(--color-green-50);
}
@media (min-width: 768px) {
  .footer__content {
    justify-content: flex-end;
  }
}

/* PAGE LAYOUT */

article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}
.grid {
  display: grid;
  gap: var(--grid-column-gap);
}
.grid img {
  justify-self: center;
  overflow: hidden;
}

.col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-paragraph);
}
.col--software + .col--software {
  margin-top: calc(3.75rem - var(--gap-paragraph));
}

@media (min-width: 768px) {
  .grid--col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid--col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid--col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col--span-1 {
    grid-column: span 1;
  }
  .col--span-2 {
    grid-column: span 2;
  }
  .col--span-3 {
    grid-column: span 3;
  }
}

/* HOME */
.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-large);
}
@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@keyframes fade-top {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  box-shadow: var(--shadow-elevation-low);
  padding-block-end: 1rem;
  border-radius: 2px;
}
.project-card__text {
  padding-inline: 0.75rem;
  padding-block-start: 0.5rem;
}
.project-card__link {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  &::before {
    position: absolute;
    content: "";
    inset: -1px;
  }
  &:hover {
    color: var(--color-green-35);
  }
}
.project-card__image {
  transition: transform 100ms ease-out;
  width: 100%;
  transform: scale(1);
}
.project-card__image-container {
  overflow: hidden;
}

.project-card:has(.project-card__link:hover) .project-card__image {
  transform: scale(1.05);
  transition: transform 300ms;
}

.project-card:has(.project-card__link:focus-visible) {
  outline: 2px solid var(--color-green-35);
  .project-card__link:focus-visible {
    outline: none;
  }
}

.track-list {
  margin-block-start: 0.5em;
}
